@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

/* Banner de búsqueda */
#search-banner {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo-container:hover {
    transform: scale(1.05);
}

/* Logo */
#search-banner #logo {
    height: 40px;
}

/* Nombre del sitio */
.site-name {
    font-size: 2rem;
    color: #2b3169;
    font-family: "Changa One", sans-serif;
    font-style: normal;
}

/* Contenedor de la barra de búsqueda */
.search-container {
    justify-content: center;
    width: 35%;
    position: relative;
    box-sizing: border-box;
}

/* Input de búsqueda */
#search-banner input {
    padding: 10px;
    font-size: var(--font-size-base);
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
}

/* Elementos de la barra derecha */
.bar-items {
    display: flex;
    gap: 5px;
}

/* Botón del search bar */
.bar-items button {
    padding: 10px 15px;
    background-color: #417b70;
    border: none;
    border-radius: var(--border-radius);
    color: var(--white);
    font-size: var(--font-size-base);
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Hover botones */
#search-banner button:hover {
    transform: scale(1.05);
}

/* Input con ícono */
.input-with-icon {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #353535;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.input-with-icon i {
    margin-right: 8px;
    color: #888;
}

.input-with-icon input {
    border: none;
    outline: none;
    flex: 1;
    background-color: transparent;
    color: white;
}

/* nuevo botón buscar */
.bar-items .mobile-search {
    display: none;
}

/* Resultados de búsqueda */
.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #3d3d3d;
    border-radius: 3px;
    z-index: 999;
    box-sizing: border-box;
}

.search-result-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #555;
    color: white;
    cursor: pointer;
    background-color: #3d3d3d;
    border-radius: 3px;
    text-align: justify;
}

.search-result-item:hover {
    background-color: #444;
}

/* Responsive */
@media (max-width: 800px) {
    .site-name {
        display: none;
    }

    #search-banner input {
        width: auto;
    }

    .search-container {
        width: 60%;
    }
}

@media (max-width: 550px) {
    #search-banner {
        padding: 20px 5px;
    }

    .site-name,
    .bar-items .mobile-search {
        display: unset;
    }

    .search-container {
        display: none;
    }

    /* expandir search bar */
    #search-banner.active {
        padding: 20px 5px 65px;
    }

    .search-container.active {
        display: unset;
        position: absolute;
        top: 70px;
        padding-left: 10px;
        width: 85%;
    }

    .search-container.active .search-results {
        width: -webkit-fill-available;
        margin-left: 10px;
    }
}
