@import url("Componentes/searchBar.css");
@import url("./products.css");
@import url("Componentes/footer.css");

/* Fuentes comprimidas */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@100&family=Mukta+Vaani&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #37AA9C;
    --secondary-color: #102E50;
    --background-color: #1e1e1e;
    --dark-gray: #343131;
    --white: #ffffff;
    --border-radius: 8px;
    --gray-444: #444;
    --gray-292: #292929;
    --text-gray: #b4b4b4;
    --star-color: #f0c956;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--white);
}

h3 {
    color: var(--primary-color);
    margin-top: 0;
}

input, select, textarea {
    font-size: 1rem;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    outline: none; 
}

button {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.filters {
    width: 250px;
    height: fit-content;
    background-color: var(--dark-gray);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: rgb(185, 185, 185);
    font-family: "Lato", sans-serif;
    font-weight: 100;
}

.filters h3 {
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
}

.filters label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
}

.filters select {
    width: 100%;
    padding: 10px;
    background-color: var(--gray-444);
    color: var(--white);
}

.content-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.reviews {
    background-color: var(--dark-gray);
    padding: 20px;
    margin: 20px auto;
    border-radius: var(--border-radius);
    width: 90%;
}

.reviews h2 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin: 0 0 50px;
}

.review-items {
    display: flex;
    gap: 20px;
}

.review {
    position: relative;
    background-color: var(--gray-292);
    border: 2px solid var(--gray-444);
    border-radius: var(--border-radius);
    padding: 50px 20px 15px;
    width: -webkit-fill-available;
}

.review h3 {
    font-family: "Lato", sans-serif;
}

.review p {
    margin: 5px 0;
    font-family: "Mukta Vaani", sans-serif;
}

.review i {
    color: var(--star-color);
}

.review .user-icon {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    background-color: var(--dark-gray);
    color: #afafaf;
    border-radius: 50%;
    padding: 20px;
    border: 2px solid var(--gray-444);
    width: 5rem;
    height: 5rem;
}

.submit-review {
    width: 40%;
}

.submit-review h3 {
    margin-bottom: 1rem;
}

.submit-review form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.submit-review input, .submit-review textarea {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--gray-292);
    color: var(--white);
    resize: none;
    font-family: "Mukta Vaani", sans-serif;
}

.submit-review input:focus, .submit-review textarea:focus {
    border: 1px solid var(--gray-444);
}

.submit-review button {
    width: max-content;
}

button:hover {
    background-color: var(--secondary-color);
}

.info-contact {
    margin-top: 2rem;
    padding: 1rem;
    border-top: 2px solid var(--gray-444);
    display: flex;
    font-family: "Mukta Vaani", sans-serif;
    color: #c7c7c7;
    gap: 5%;
}

.info {
    width: 50%;
    background-color: var(--gray-292);
    padding: 1rem;
    border: 1px solid var(--gray-444);
    display: flex;
    gap: 10%;
    color: var(--text-gray);
    border-radius: var(--border-radius);
    justify-content: center;
    flex-wrap: wrap;
}

.info h3, .info h4 {
    margin: 0 0 10px;
}

.info p {
    margin: 0;
    padding-left: 25px;
    color: var(--text-gray);
}

.info a {
    color: var(--text-gray);
}

.info-sections {
    padding-bottom: 20px;
}

.info iframe {
    width: 16rem;
    height: 16rem;
    border-radius: var(--border-radius);
}

.filters-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.filters-header .showMenu {
    visibility: hidden;
}

@media (max-width: 1300px) {
    .container {
        display: grid;
    }

    .filters {
        width: auto;
        height: auto;
    }

    .filters-menu {
        display: flex;
        align-items: center;
        gap: 30px;
        max-height: fit-content;
    }

    .review {
        width: 48%;
        margin: 0 1% 50px;
    }

    .review-items {
        display: flex;
        flex-wrap: wrap;
        gap: unset;
    }
}

@media (max-width: 1000px) {
    .search-container {
        width: 50%;
    }
}

@media (max-width: 780px) {
    .reviews .info-contact {
        display: grid;
    }

    .submit-review, .info-contact .map {
        width: 100%;
    }

    .container {
        padding: 0 5px;
    }

    .info-contact {
        margin-top: 0;
    }

    .info {
        width: auto;
        margin-bottom: 1rem;
    }
}

@media (max-width: 550px) {
    body {
        padding-top: 60px;
    }

    .filters {
        padding-bottom: 5px;
    }

    .filters label {
        margin-top: 5px;
    }

    .submit-review form {
        width: 100%;
    }

    .filters-header .showMenu {
        visibility: visible;
        background-color: transparent;
        cursor: pointer;
        border-radius: 5px;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
    }

    .filters-menu {
        visibility: hidden;
        max-height: 0;
        max-width: 0;
    }

    .filters-menu.active {
        visibility: visible;
        max-height: fit-content;
        display: unset;
    }

    .reviews {
        padding: 20px 5px;
        margin: 20px 5px;
        width: fit-content;
    }

    .review {
        padding: 12% 10px 10px;
    }

    .review .user-icon {
        top: -10%;
        font-size: 2rem;
        width: 4rem;
        height: 4rem;
        padding: 1rem;
    }

    .showMenu {
        padding: 1px 8px;
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .filters {
        padding: 20px 20px 10px;
    }

    .filters label {
        margin-top: 2px 
    }

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
        gap: 10px;
    }

    .product h4, .product p {
        margin: 5px;
    }
}
