/* Productos */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    font-family: "Raleway";
}

.product {
    background-color: var(--dark-gray);
    border-radius: var(--border-radius);
    padding: 2px;
    text-align: center;
    cursor: pointer;
    transition: 
        transform 1s ease,
        box-shadow 1s ease,
        background-color 1s ease;
    color: #c4c4c4;
}

.product:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    background-color: #4d4948;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

.product h4 {
    font-size: 1rem;
    margin: 10px 0 5px;
}

.product p {
    font-size: 1.2rem;
    color: var(--primary-color);
    font-family: "Bebas Neue", sans-serif;
    margin: 2px;
}