/* Productos */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    background-color: var(--dark-gray);
    border-radius: var(--border-radius);
    padding: 15px;
    text-align: center;
    cursor: pointer;

    transition: 
        transform 1s ease,
        box-shadow 1s ease,
        background-color 1s ease; /* Puedes ajustar 1s a lo que desees */
}

.product:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    background-color: #4d4948;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
}

.product h4 {
    font-size: 1rem;
    margin: 10px 0 5px;
}

.product p {
    font-size: 0.9rem;
    color: var(--light-gray);
}