@import url("../Componentes/searchBar.css");
@import url("../index.css");

body {
  margin: 0;
  padding: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--light-gray);
  font-size: var(--font-size-base);
}

.container {
  margin: 0 auto;
  padding: var(--padding-base);
  font-family: "Raleway";
}

.title {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 30px;
}

.card {
  background-color: var(--dark-gray);
  border-radius: var(--border-radius);
  padding: var(--padding-base);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Elementos de contenido */
h2 {
  color: var(--secondary-color);
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
    color:#2ecc71;
    margin: 5px 0px;
}

strong {
  font-weight: normal;
}

.game-description p,
.game-developer p,
.game-requirements p {
  line-height: 1.6;
}

.game-requirements {
  background-color: #292929;
  padding: 15px;
  border-radius: var(--border-radius);
  margin-top: 20px;
}

.game-requirements {
  background-color: #3a3a3a;
}

ul {
  padding-left: 20px;
  margin-top: 10px;
}

li {
  margin-bottom: 6px;
}

/* Video */
.game-video {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.game-video video {
  width: 90% !important;
  height: fit-content;
  border-radius: 5px;
}

.buy-button-container {
  text-align: center;
  margin: 20px 0;
}

.buy-button, #price {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  padding: var(--button-padding);
  font-size: var(--font-size-base);
  cursor: pointer;
  transition: background-color var(--transition-fast), transform var(--transition-fast);
}

#price {
  background-color: gray;
}

#buy-button:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

#game-info img {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  body {
    padding: 80px 0;
  }

  h2.game-name {
    margin-bottom: 0;
  }
}

@media (min-width: 1500px){
  .game-video video {
    max-width: 70%;
  }
}
