@import url("../Componentes/searchBar.css");
@import url("../index.css");

body {
  margin: 0;
  padding: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-gray);
  font-size: var(--font-size-base);
}

.container {
  font-family: "Raleway";
  display: none;
}

.card {
  background-color: var(--dark-gray);
  border-radius: var(--border-radius);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Elementos de contenido */
h2 {
  color: var(--primary-color);
  font-size: 28px;
  margin: 0;
  background-color: #292929;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}

h3 {
  color: var(--primary-color);
}

.game-requirements {
  background-color: #292929;
  padding: 15px;
  border-radius: var(--border-radius);
  margin-bottom: 15px;
}

ul {
  padding-left: 20px;
  margin-top: 10px;
  font-weight: 300;
}

li {
  margin-bottom: 6px;
}

/* Video */
.game-video {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.game-video video {
  width: 90% !important;
  height: fit-content;
  border-radius: 5px;
}

.buy-button-container {
  text-align: center;
  margin: 20px 0;
}

.buy-button, #price {
  font-size: 16px;
  background-color: var(--primary-color);
  transition: transform 0.3s ease;
}

#price {
  background-color: gray;
}

.buy-button:hover {
  transform: scale(1.05);
  background-color: var(--primary-color);
}

#game-info img {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  body {
    padding: 80px 0;
  }

  h2.game-name {
    margin-bottom: 0;
  }
}

@media (min-width: 1500px){
  .game-video video {
    max-width: 70%;
  }
}
